@charset "UTF-8";
body {
  margin: 0;
  padding-top: 70px;
}

/*------------------------NAV BAR   NAV BAR----------------------------*/
nav {
  border-bottom: 1px solid black;
}
nav #portal {
  color: rgba(12, 12, 12, 0.8431372549);
}
nav #portal button {
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.6s ease; /* Transición suave de la transformación */
}
nav #portal button:hover {
  transform: scale(1.1);
}

.logo img {
  height: 70px; /* altura aprox que me gustaria del logo */
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: red;
}

.nav-link {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}

@media only screen and (max-width: 600px) {
  .logo img {
    height: 50px;
  }
  .navbar-brand {
    display: none;
  }
}
/* ESTILOS PARA EL CONTENIDO DE INDEX.HTML */
.intro_empresa_container {
  /* IMGEN DE FONDO */
  background-image: url(images/backdos.png);
  background-color: #fcf8f8;
  background-repeat: no-repeat;
  background-position: 400px 0px;
  background-size: 70% 100%;
  background-attachment: scroll;
  /* -------------- */
  height: 490px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.intro_empresa_container .content, .intro_empresa_container #content {
  margin-right: 500px;
}
.intro_empresa_container h1 {
  display: inline-block;
  color: black;
  font-size: 45px;
  font-family: sans-serif;
}
.intro_empresa_container a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
.intro_empresa_container button {
  background-color: rgb(133, 132, 132);
  border: none;
  cursor: pointer;
  transition: transform 0.6s ease; /* Transición suave de la transformación */
}
.intro_empresa_container button:hover {
  transform: scale(1.1);
}
.intro_empresa_container p {
  color: red;
  text-decoration: solid;
  background-color: transparent;
  font-size: 21px;
  font-weight: bold;
  line-height: 2.5;
}

.container_preguntas {
  margin-bottom: 20px;
  border: 1px solid black;
  padding-top: 45px;
}
.container_preguntas h3 {
  color: red;
  padding-top: 10px;
  height: 60px;
  text-align: center;
}
.container_preguntas .accordion-button {
  color: rgb(248, 105, 105);
}

@media only screen and (max-width: 600px) {
  .intro_empresa_container {
    background-image: none;
    background-color: rgb(245, 243, 243);
  }
  .intro_empresa_container h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }
  .intro_empresa_container p {
    margin: 8px;
  }
  .intro_empresa_container button {
    background-color: rgb(115, 113, 117);
    width: 50%;
    margin: 0 auto;
  }
  .intro_empresa_container button a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
.presentacion {
  background-image: url(images/backCompanyPre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 585px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion .container-presentacion {
  position: relative;
  left: 360px;
  width: 560px;
  height: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(209, 170, 170, 0.404);
}
.presentacion .container-presentacion h1 {
  background-color: rgba(0, 0, 0, 0.368627451);
  color: #d3455b;
  font-size: 45px;
}
.presentacion .container-presentacion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: initial;
  text-align: center;
  font-weight: bold;
  line-height: 2.5;
}
.presentacion button {
  background-color: #d3455b;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.6s ease; /* Transición suave de la transformación */
}
.presentacion button a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.presentacion button:hover {
  transform: scale(1.1);
}

.parrafo {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.link_plan_cobertura a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #333;
}

.productos {
  background-size: cover;
  background-image: url(images/backPlanes.webp);
  background-repeat: no-repeat;
  border: 1px black solid;
  padding-top: 50px;
  margin-top: 15px;
  text-align: center;
}
.productos h4 {
  font-size: 18px;
  color: red;
  position: relative;
  bottom: 90px;
  background-color: rgba(114, 106, 106, 0.0666666667);
}
.productos h1 {
  position: relative;
  bottom: 20px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.623);
  color: rgb(243, 9, 9);
  margin-bottom: 50px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.productos .card h5 {
  color: red;
}
.productos .card p {
  font-weight: bold;
}
.productos .card img {
  height: 250px;
}
.productos .card-body {
  background-color: #f7a8b5;
}

.productos_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  height: auto;
}

.lista {
  padding: 5px;
  border: 1px solid black;
}
.lista li {
  margin-right: 30px;
  list-style: none;
}

.cobertura_container {
  position: relative;
  top: 17px;
  text-align: center;
  height: 650px;
  margin-bottom: 20px;
  background-color: white;
}
.cobertura_container iframe {
  height: 75%;
  width: 75%;
  border: 10px solid #f6dade;
}
.cobertura_container h1 {
  margin-top: 20px;
  color: red;
}
.cobertura_container button {
  background-color: #d3455b;
  font-size: 15px;
  padding-top: 0px;
  position: relative;
  bottom: 10px;
}
.cobertura_container p {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .cobertura_container p {
    padding: 3px;
    font-size: 17px;
    text-align: center;
  }
  .cobertura_container iframe {
    height: 70%;
    width: 85%;
  }
  .cobertura_container button {
    display: none;
  }
  .cobertura_container h1 {
    margin-top: -3px;
  }
}
.contact_preguntas {
  margin-top: 19px;
  margin-bottom: 4px;
  padding: 25px;
  background-image: url(images/background_contact.jpg);
  background-size: cover;
  width: 100%;
  height: 540px;
}

.form_container {
  height: 440px;
  margin: 0 auto;
  padding-top: 12px;
  text-align: left;
}
.form_container form {
  color: red;
  text-align: center;
}
.form_container label {
  color: red;
  display: block;
  margin-bottom: 6px;
}
.form_container h2 {
  color: red;
  text-align: center;
}

.preguntas_container li {
  list-style: none;
  font-size: 20px;
}

footer {
  background-image: url(images/footer.jpg);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  height: 118px;
  width: 100%;
}
footer .logo_container img {
  height: 90px;
}
footer h3 {
  background-color: #f6dade;
  color: rgb(51, 14, 14);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
}
footer .icono {
  position: absolute;
  left: 5px;
  height: 15px; /* altura iconos*/
  margin-right: 10px; /*separacion entre el texto*/
}
footer .links_container {
  padding-top: 10px;
  width: 190px;
  text-align: center;
  position: relative;
  right: 85px;
  height: 118px;
}
footer .contact_container {
  padding-top: 10px;
  text-align: center;
  height: 118px;
  width: 190px;
  position: relative;
}
footer .link_contacto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .link_contacto a {
  font-size: 15px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
footer .list_links a {
  margin-right: 25px;
  text-decoration: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}

/* ------------ MEDIA QUERYS FOOTER  */
@media only screen and (max-width: 600px) {
  .logo_container img {
    display: none;
  }
  footer {
    display: flex;
    background-image: none;
    background-color: rebeccapurple;
    height: 150px;
  }
  footer h3 {
    font-size: 15px;
  }
  .list_links ul {
    padding-top: 50px;
  }
  .list_links a, .link_contacto a {
    font-size: 10px;
    font-weight: bold;
  }
  .links_container, .contact_container {
    border: 1px solid red;
    width: 150px;
    height: 150px;
    background-color: aqua;
  }
  .contact_container {
    position: absolute;
    left: 10px;
  }
  .links_container {
    position: absolute;
    right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
